* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-div {
    background-image: linear-gradient(rgba(3, 9, 31, 0.68)), url(./Images/imgi_3_background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 50vh;
    position: relative;
}

ul li a{
    transition: 0.5s;
}
ul li a:hover{
    text-decoration: underline 2px solid blue;
    
}


.canvas-closer {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: -10px;
}

.big-div-p1 {
    font-size: 2.2rem;
    font-weight: 560;
    font-family: sans-serif;
}



.div-h3 {
    font-size: 40px;
    font-weight: 670;
    color: #000;
    font-family: sans-serif;
}

.div-p1 {
    font-size: 0.97rem;
    color: #777777;
}

.explore-btn:hover {
    background-color: #0D6EFD;
}

#about-university {
    padding: 0px 100px;
    display: flex;
    column-gap: 9px;
    margin-top: 150px;
}

.about-university-img {
    width: 50%;
}

.about-p1 {
    font-weight: 670;
    color: #000;
    font-size: 20px;
}

.about-p2 {
    font-size: 0.95rem;
    text-align: center;

}

.about-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #777777;
    margin-top: 100px;
    padding: 10px 320px 30px 320px;
}


@media (max-width: 768px) {
    .big-div-p1 {
        font-size: 2rem;
        font-weight: 700;
    }

    #about-university {
        flex-direction: column;
        align-items: center;
        padding: 0px 50px 0px 50px;
    }

    .div-h3 {
        font-size: 40px;
        font-weight: 670;
        width: 100%;
        color: #000;
        font-family: sans-serif;
    }

    .div-p1 {
        font-size: 0.97rem;
        width: 80%;
        color: #777777;
    }


    .about-university-img {
        width: 100%;
        margin-bottom: 40px;

    }

    #about-header {
        padding: 0px 30px 0px 30px;
    }

    .about-p1 {
    font-size: 0.99rem;
}

.about-p2 {
    font-size: 0.90rem;
}
}

@media (max-width:500px) {
    .div-h3 {
        font-size: 1.9rem;
        font-weight: 670;
        width: 100%;
        color: #000;
        font-family: sans-serif;
    }

    .div-p1 {
        font-size: 0.95rem;
        width: 90%;
        color: #777777;
    }

    #about-img {
        padding: 0px 0px 0px 0px;
    }

    #about-university-img {
        /* width: 100%; */
        margin-bottom: 40px;
        /* padding: 0px 10000px; */
    }

    .about-p1 {
        font-size: 0.99rem;
    }

    .about-p2 {
        font-size: 0.90rem;
    }

    #about-header {
        padding: 0px 30px 0px 30px;
    }
}